## **Advanced Transformations with Pandas - Practice - Part 1**

Loading the Data

In [35]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [8]:
df = pd.read_csv('/Users/tspiet/Documents/GitHub/JSON_API/Data/final_results_crab_cakes.csv.gz')
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1.410529e+10,(410) 528-5373,1028.736468
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",1.410276e+10,(410) 276-3160,3328.825798
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",1.844748e+10,(844) 748-2537,966.729941

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             429 non-null    object
 1   alias          429 non-null    object
 2   name           429 non-null    object
 3   image_url      420 non-null    object
 4   is_closed      429 non-null    bool
 5   url            429 non-null    object
 6   review_count   429 non-null    int64
 7   categories     429 non-null    object
 8   rating         429 non-null    float64
 9   coordinates    429 non-null    object
 10  transactions   429 non-null    object
 11  price          339 non-null    object
 12  location       429 non-null    object
 13  phone          413 non-null    float64
 14  display_phone  413 non-null    object
 15  distance       429 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 50.8+ KB

### **1. Separate a string column into multiple columns.**

**The "display_phone" column:**

**Separate into Area Code and Phone Number.**

As with most tasks with Python/Pandas, we have multiple options on how to tackle this. We will cover just one approach in this lesson: using **.str.split** with **expand=True**

In [6]:
# Exploring existing format with a few examples
df['display_phone'].head(2)

0    (410) 727-4898
1    (443) 449-7726
Name: display_phone, dtype: object

Examining our example strings above, we can see that there is a space between the area code and the rest of the phone number
We can use **str.split()** to separate each string in the column.  
If we add **expand=True** , Pandas will **automatically split the column into multiple columns!**

In [9]:
## adding expand=True
df['display_phone'].str.split(' ',expand=True)

         0         1
0    (410)  727-4898
1    (443)  449-7726
2    (410)  528-5373
3    (410)  276-3160
4    (844)  748-2537
..     ...       ...
424  (410)  889-8891
425  (410)  235-2300
426  (410)  522-7757
427  (410)  889-3663
428  (410)  243-1301

[429 rows x 2 columns]

To save these new columns in our dataframe, we can **use a list of 2 column names** to save these 2 new columns from our .split

In [10]:
## save the 2 new columns into the dataframe
df[['area_code','phone_number']] = df['display_phone'].str.split(' ',expand=True)
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,area_code,phone_number
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720,(410),727-4898
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792,(443),449-7726

Now that you have these columns, you no longer need the original display_phone column or phone columns, so you can drop them:

In [11]:
## drop the original column 
df = df.drop(columns=['display_phone', 'phone'])
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,(410),727-4898
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,(443),449-7726

### **2. Replacing multiple characters at once within a string column**

Using df[col].str.replace in a loop

- We want to remove both the open and closed parentheses from the area codes.

- One option would be to use **df[col].str.replace()** several times. One for each character we want to replace. In this case, the **left ( and once for the right )**.  This allows us to replace multiple characters more easily.
  -  Note: to prevent a Pandas FutureWarning about changes to .str.replace, we can explicitly say regex=False.
- Here we will use a for loop to replace both. 
- Note that we are really removing the characters and not literally replacing them because there is nothing between the open and close parenthesis.

In [12]:
# Make a list of all characters to replace
to_replace = ['(',')']
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    df['area_code'] = df['area_code'].str.replace(char,'',regex=False)
df['area_code'].head()

0    410
1    443
2    410
3    410
4    844
Name: area_code, dtype: object

### **3. Converting a string column of dictionaries into actual dictionaries.**

- We ultimately want to separate the "coordinates" column into two separate "latitude" and "longitude" columns.
- 	When previewing the entire dataframe, it looks like we have a column that contains dictionaries - but this is misleading!
    - o	Let's use .loc to isolate a single value from the coordinates column.

In [14]:
## examining a single value from the coordinates col
coord = df.loc[0,"coordinates"]
print(type(coord))
coord

<class 'str'>

"{'latitude': 39.291696, 'longitude': -76.62224}"

- Notice that there are quotation marks around the entire dictionary! We actually have a STRING that LOOKS like a dictionary.
- The entire coordinates column is dictionaries-turned-strings that must be converted back to dictionaries.

- You may be wondering, how did this even happen??
   - When a column that contains an iterable (list, dictionary, etc.) is saved as a csv, the iterable is forcibly converted to a string for compatibility.
- If we had instead saved our data as a .json file, this would not have happened (but our data file would also be much larger.)

**So how can we fix string-dictionary columns?**

- Remember that JSON files are really just dictionaries or lists of dictionaries stored in a text file.
   - Just like we have the **"json.load** function to load the contents of a json FILE as a dictionary/list, we also have a **"json.loads"** (the **s** is for "strings"), which will load a JSON-compatible STRING into a dictionary/list of dictionaries.
- So, we can fix our coordinates column with some clever usage of the **json.loads** function.

In [16]:
import json
json.loads(coord)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

According to the error message, it looks like json.loads is not happy that these string-dictionaries use single quotes instead of double quotes.

If we look again at our test_coord we can see that the string uses single quotes for all of the key names, such as 'latitude'

In [17]:
coord

"{'latitude': 39.291696, 'longitude': -76.62224}"

To fix this, we can replace our single quotes with double quotes before we use json.loads.
For our single test string, we can use the **.replace** method:

In [19]:
coord = coord.replace("'",'"')
coord

'{"latitude": 39.291696, "longitude": -76.62224}'

Now that we have double quotes inside our string, we can use json.loads

In [20]:
## now we can use json.loads
fixed_coord = json.loads(coord)
print(type(fixed_coord))
fixed_coord

<class 'dict'>

{'latitude': 39.291696, 'longitude': -76.62224}

- We can apply this transformation to the entire column by combining the following:
  - Using **.str.replace** to replace single quotes.
  - Using **.apply** with **json.loads** to convert all rows simultaneously.

In [21]:
## use .str.replace to replace all single quotes
df['coordinates'] = df['coordinates'].str.replace("'",'"')
## Apply the json.loads to the full column
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()

0      {'latitude': 39.291696, 'longitude': -76.62224}
1       {'latitude': 39.28214, 'longitude': -76.59162}
2    {'latitude': 39.2870995, 'longitude': -76.6053...
3     {'latitude': 39.27986, 'longitude': -76.5752399}
4    {'latitude': 39.2958288, 'longitude': -76.6188...
Name: coordinates, dtype: object

In [22]:
## check a single value after transformation
test_coord = df.loc[0, 'coordinates']
print(type(test_coord))
test_coord

<class 'dict'>

{'latitude': 39.291696, 'longitude': -76.62224}

### **4. Unpack a column of dictionaries into separate columns**

- We now want to convert the single "coordinates" column into 2 separate columns, "latitude" and "longitude."
  - To do so, we will use .apply with the pd.Series function.
- If we use the pandas **pd.Series** function on our column of dictionaries, it will automatically convert each key to a new column!

In [23]:
lat_long = df['coordinates'].apply(pd.Series)
lat_long

      latitude  longitude
0    39.291696 -76.622240
1    39.282140 -76.591620
2    39.287099 -76.605366
3    39.279860 -76.575240
4    39.295829 -76.618891
..         ...        ...
424  39.330889 -76.634097
425  39.316500 -76.615560
426  39.281747 -76.581631
427  39.330860 -76.631610
428  39.330840 -76.633930

[429 rows x 2 columns]

Now, we concatenate these 2 new columns to our original dataframe AND drop the original column.
- We will use pd.concat with axis=1 to concatenate the two dataframes side by side.
   - **pd.concat([df1,df2], axis=1)**

In [24]:
# concat long_lat with original dataframe
df = pd.concat((df, lat_long), axis = 1)
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number,latitude,longitude
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.62224
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.59162

You can now drop the original coordinates column.

In [25]:
df = df.drop(columns=['coordinates'])

In [26]:
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,location,distance,area_code,phone_number,latitude,longitude
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891

### **5. Convert a column that contains lists (that were converted to strings), back to lists.**

- We have the same problem that we had with csv-saved dictionaries with our columns that are filled with lists.

**Getting All Unique Options (Columns to Make)**
- Just like our coordinates column contained strings that looked like dictionaries, our transactions column contains strings that look like lists.
   - We can apply the same approach using json.loads to first convert this column back to actual lists.
   - The only difference is that we do not want to replace our original string version of the column.

In [27]:
## showing the lists are really strings
df.loc[2,'transactions']

"['pickup', 'delivery']"

- Notice that double quotes surround the entire list.
- Also, notice that within the list, single quotes are used. 
- We again will have the issue of the single quotes, so we will replace those with double quotes.

In [28]:
# Create a new column where the single quotes are replaced by double quotes
df['transactions_split'] = df['transactions'].str.replace("'",'"')

Now, apply **json.loads** (load "s" for strings), and check the result.

In [29]:
# Apply json.loads to entire column
df['transactions_split'] = df['transactions_split'].apply(json.loads)
# check results
df['transactions_split'].head()

0            [delivery]
1            [delivery]
2    [pickup, delivery]
3    [pickup, delivery]
4            [delivery]
Name: transactions_split, dtype: object

### **6. Convert a column of lists into one-hot-encoded columns (a column for each item in the list)**

In [30]:
df['transactions_split'].value_counts()

[delivery, pickup]                            119
[pickup, delivery]                            107
[delivery]                                    105
[]                                             86
[pickup]                                        6
[pickup, delivery, restaurant_reservation]      2
[delivery, pickup, restaurant_reservation]      2
[restaurant_reservation]                        2
Name: transactions_split, dtype: int64

In this case, each restaurant can only have up to 3 possible values in this column (deliver, pickup, or restaurant_reservation), but imagine if you had 10 options or more!

We need to apply a flexible approach that could work for any number of possible values.
- To programmatically create each new column from all of the possible values in a list column:
  - We first need to get a list of all of the unique options that appear in this column.
  - We will then loop through these unique options and leverage **.str.contains** to create a new column for each. The end result will be a new column for each item in the list with a true or false for each, depending on if it applies to each restaurant. 
**Get a list of all options using df.explode**

Now that we have a column of actual lists, we can take advantage of the **df.explode** method to create a separate row for each value in the list column.

In [31]:
## exploding the column of lists
exploded = df.explode('transactions_split')
exploded[['name','transactions','transactions_split']].head(5)

                         name            transactions transactions_split
0            Faidleys Seafood            ['delivery']           delivery
1  Thames Street Oyster House            ['delivery']           delivery
2         Miss Shirley's Cafe  ['pickup', 'delivery']             pickup
2         Miss Shirley's Cafe  ['pickup', 'delivery']           delivery
3    Mama's On The Half Shell  ['pickup', 'delivery']             pickup

Notice how there are now **TWO entries for Miss Shirley's cafe**. One for **pickup** and one for **delivery**.   We don't really want multiple entries for the same name, but this is **just a temporary step** that allows us to have every possible item from the transactions list separated out in the transactions_split column.  

Now we will take the **.unique** values from this exploded column as our list of columns to create from our original non-exploded dataframe.

Importantly, we **do not want to save NaN to our list**, so we can use **.dropna()** right before our **.unique()**

In [32]:
## saving the unique values from the exploded column
cols_to_make = exploded['transactions_split'].dropna().unique()
cols_to_make

array(['delivery', 'pickup', 'restaurant_reservation'], dtype=object)

Notice that the output is what we were expecting. We now have a single list that includes ALL unique values found anywhere in the lists within the original transaction column.  In this case, we already knew it would be '**delivery**,' '**pickup**,' and **restuarant_reservation**,' but this will work no matter how long the list gets!

Using a **For Loop** and **.str.contains** to create the new columns
Now we want to create a new column for each of our unique values that are stored in cols_to_make.  And while we are at it, we want to indicate true and false depending on if the value was in the original list.

In [33]:
for col in cols_to_make:
    df[col] = df['transactions'].str.contains(col)
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,location,distance,area_code,phone_number,latitude,longitude,transactions_split,delivery,pickup,restaurant_reservation
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],...,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,[delivery],True,False,False
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,['delivery'],...,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,[delivery],True,False,False
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"['pickup', 'delivery']",...,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,"[pickup, delivery]",True,True,False
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"['pickup', 'delivery']",...,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,"[pickup, delivery]",True,True,False
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['delivery'],...,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,[delivery],True,False,False

**And now we have our new transaction columns!**

Let's drop the original transactions column and our transactions_split column now that we have confirmed our new columns were created correctly and save our dataframe as a .csv.

In [34]:
# drop transactions clumns
df = df.drop(columns=['transactions','transactions_split'])
## save data for next lesson
df.to_csv('advanced_tf_data_pt1.csv', index=False)